.profile {
  margin-top: 1em;
}

.user-profile .picture {
  width: 200px;
  border-radius: 5px;
}

.user-profile ul {
  padding: 0;
  margin-top: .6em;
}

.user-profile ul li {
  list-style: none;
}



.frnd-button {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.frnd-button:hover, .frnd-button:focus {
  color: black;
  outline: 0;
}

.frndrequest {
  display: none;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.frndrequest:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

div.div1 {
    float: left;
}

div.div2 {
    float: right;
}
